@model DentalCare.Models.Medicinetype;

@{
    Layout = "_DashboardLayout";
}

<style>
    .add-invoice .content {
        padding: 20px;
        padding-top: 0px;
        width: 100% !important;
        margin-left: 0 !important;
    }

    .add-invoice .content label {
        padding: 8px;
        padding-left: 2px !important;
    }

    .add-invoice .card-body {
        background-color: #f8f9fa;
    }
</style>


<div class="container-fluid mt-4 add-invoice">
    <!-- Use container-fluid or container for better alignment -->
    <div class="content">
        <div class="page-header mb-4 text-primary">
            <div class="page-title">
                <h4>Add Equipment Type</h4>
            </div>
        </div>

        <div class="card shadow-sm">
            <div class="card-body">
                <form asp-action="AddType" asp-controller="Equipment">
                    <div class="row g-3">
                        <div class="col-lg-12 col-12">
                            <div class="form-group">
                                <label asp-for="Name">Type Name</label>
                                <input asp-for="Name" type="text" id="name" class="form-control" placeholder="Enter type name" required>
                            </div>
                        </div>
                        <div class="col-lg-12 text-end">
                            <button type="submit" class="btn btn-primary me-2">Add</button>
                            <a href="@Url.Action("Index", "Equipment")" type="reset" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>