.container-profile {
    padding: 20px;
}

.profile-card {
    background: #f8f9fa !important;
    border-radius: 8px;
    padding: 2rem 2rem !important
}

.row.custom-gutters {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

    .row.custom-gutters > [class*="col-"] {
        padding-left: 0px !important; /* or adjust this value */
        padding-right: 0px !important;
        padding-bottom: 0px !important;
    }


.container-profile * {
    padding-bottom: 8px;
}

.container-profile button {
    padding: 8px !important;
}

.account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
    padding: 10px !important;
}

    .account-settings .user-profile .user-avatar {
        margin: 0 0 1rem 0;
        padding: 10px !important;
    }

        .account-settings .user-profile .user-avatar img {
            width: 90px;
            height: 90px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
            padding: 10px !important;
        }

    .account-settings .user-profile h5.user-name {
        margin: 0 0 0.5rem 0;
        padding: 10px !important;
    }

    .account-settings .user-profile h6.user-email {
        margin: 0;
        font-size: 0.8rem;
        font-weight: 400;
        color: #9fa8b9;
        padding: 10px !important;
    }

.account-settings .about {
    margin: 2rem 0 0 0;
    text-align: center;
    padding: 10px !important;
}

    .account-settings .about h5 {
        margin: 0 0 15px 0;
        color: #007ae1;
        padding: 10px !important;
    }

    .account-settings .about p {
        font-size: 0.825rem;
        padding: 10px !important;
    }

.form-control {
    border: 1px solid #cfd1d8;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 6px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
    padding: 10px !important;
}

.card {
    /* background: #ffffff; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    padding: 10px !important;
}

.page-header {
    padding-top: 24px;
    padding-left: 32px;
    margin-bottom: -16px !important;
}
